
$primary-bg-color: #279257;//#279a55;#368c58;#518c3c;
$primary-bg-color2: #303030;
$primary-font-color: #ffffff;
$menu-bg-color: #ffffff;
$menu-font-color: #303030;
$title-font-color: #303030;


$main-image-height: 500px;
$body-banner-height: 300px;